.description-div{
	display: flex;
	justify-content:space-between;
	div{
		width: 18%;
	}
}
.mother{
	width: 100%;
	padding:50px 15px;
	display: flex;
	justify-content:space-between;
}
.div-gallery{
	width: 25%;
	ul{
		display: flex;
		flex-direction: column;
	}
	
}
.div-gallery2{
	width: 25%;
	ul{
		display: flex;
		flex-direction: column;
	}
	
}
.gallery-content{
	width: 70%;
}
.gallery-content2{
	width: 70%;
}
#seasoni{
	li{
		a{
			border: none;
			color: #989898;
		}
	}
	li:hover{
		
		a{
			background: #6c5098;
			border:0;
			border-radius: 0;
			margin: 0;
			color: #fff;
			font-style: italic;
		}
	}
	.active{
		position: relative;
		a{
			background:#6c5098;
			margin: 0;
			border: 0;
			border-radius: 0;
			color: #fff;
		}
	}
	.active:after{
		position: absolute;
		top:0;
		right: -28px;
		content: "";
		width: 0;
		height: 0;

		border-left: 28px solid #6c5098;
	    border-bottom: 21px solid transparent;
	    border-top: 20px solid transparent;
	}
	
}

#seasonii{
	li{
		a{
			border: none;
			color: #989898;
		}
	}
	li:hover{
		
		a{
			background: #6c5098;
			border:0;
			border-radius: 0;
			margin: 0;
			color: #fff;
			font-style: italic;
		}
	}
	.active{
		position: relative;
		a{
			background:#6c5098;
			margin: 0;
			border: 0;
			border-radius: 0;
			color: #fff;
		}
	}
	.active:before{
		position: absolute;
		top:0;
		left: -27px;
		content: "";
		width: 0;
		height: 0;

		border-right: 28px solid #6c5098;
	    border-bottom: 20px solid transparent;
	    border-top: 20px solid transparent;
	}
	
}



.faces{
	display: flex;
	flex-wrap:wrap;
	margin:0 -10px;
	.face{
		margin: 10px;
		position: relative;
	}
}
.fathers{
	padding:50px 15px;
}




.divi-inner{
	position: absolute;
	top:0;
	left:0;
	width: 100%;
	height: 100%;
	text-align: center;
	line-height: 100%;
	background:red;
	opacity: 0.3;
	z-index: 100;
	display: none;
	a{
		i{
			font-size: 20px;
			padding-top: 35%;
		}
	}
}
.face:hover .divi-inner{
	display: block;
}





.div-gallery{
	padding-top:27px;
	height: 100%;
	border: 1px solid #989898;
}
.div-gallery2{
	padding-top:27px;
	height: 100%;
	border: 1px solid #989898;
}
.padd15{
	padding-left:15px;
}

#tab-menu3{
	padding:30px 0;
	li{
		a{
			border: none;
			color: #989898;
		}
	}
	li:hover{
		
		a{
			background: #6c5098;
			border:0;
			border-radius: 0;
			margin: 0;
			color: #fff;
			font-style: italic;
		}
	}
	.active{
		position: relative;
		a{
			background:#6c5098;
			margin: 0;
			border: 0;
			border-radius: 0;
			color: #fff;
		}
	}
	.active:before{
		position: absolute;
		bottom:-18.4px;
		left: 0px;
		content: "";
		width: 0;
		height: 0;

		border-right: 32px solid transparent;
	    border-left: 32px solid transparent;
	    border-top: 19px solid #6c5098;
	}
	
}

.tab-s{
	padding:15px;
	border:2px solid #989898;
}
.divi-accordion{
	padding:0 15px;
	p.f12{
		padding-bottom: 5px;
		border: none;
	}
	img{
		padding-bottom: 10px;
	}
}
.accord:before{
	content: "\02795";
	font-family: 30px;
	color:#fff;
	background: #6c5098;
	padding: 4px;
	margin-right: 20px;
}
.accord.actv:before{
	content: "\2796";
	font-family: 30px;
	color:#fff;
	background: #6c5098;
	padding: 4px;
	margin-right: 20px;
}
p.panel{
	display: none;
}
p.panel.show{
	display: block;
	border: none!important;
}
th,td{
	text-align: center;
}
.text-left{
	text-align: left;
}
.bg777{
	background: #f5f5f5;
}
.divi-table{
	padding: 50px 15px;
}
.buttons{
	padding:30px 15px;
	display: flex;
	flex-wrap:wrap;
	justify-content:space-between;
	button{
		text-transform: uppercase;
		width: 12%;
		color:#fff;
		background: #6c5098;
		border: 0;
		margin: 10px 0;
	}
}
#b1{
	height: 40px;
	border-radius: 2px;
}
#b2{
	border-radius: 5px;
}
#b3{
	border-radius: 10px;
}
#b4{
	border-radius: 20px;
}
#b5{
	height: 44px;
	border-radius: 3px;
}
#b6{
	border-radius: 6px;
}
#b7{
	border-radius: 11px;
}
#b8{
	border-radius: 22px;
}

#b9{
	height: 25px;
	border-radius: 2px;
}
#b10{
	height: 25px;
	border-radius: 4px;
}
#b11{
	height: 25px;
	border-radius: 7px;
}
#b12{
	height: 25px;
	border-radius: 12.5px;
}
#b13{
	height: 28px;
	border-radius: 3px;
}
#b14{
	height: 28px;
	border-radius: 6px;
}
#b15{
	height: 28px;
	border-radius: 10px;
}
#b16{
	height: 28px;
	border-radius: 14px;
}
.heading-buttons{
	padding-top:50px;
	padding-bottom: 400px;
}