.description-div{
	display: flex;
	justify-content:space-between;
	div{
		width: 18%;
	}
}
.mother{
	width: 100%;
	padding:0 15px;
	display: flex;
	justify-content:space-between;
}
.div-gallery{
	width: 25%;
	ul{
		display: flex;
		flex-direction: column;
	}
	
}
.gallery-content{
	width: 70%;
}
#seasoni{
	li{
		a{
			border: none;
			color: #989898;
		}
	}
	li:hover{
		
		a{
			background: #6c5098;
			border:0;
			border-radius: 0;
			margin: 0;
			color: #fff;
			font-style: italic;
		}
	}
	.active{
		position: relative;
		a{
			background:#6c5098;
			margin: 0;
			border: 0;
			border-radius: 0;
			color: #fff;
		}
	}
	.active:after{
		position: absolute;
		top:0;
		right: -28px;
		content: "";
		width: 0;
		height: 0;

		border-left: 28px solid #6c5098;
	    border-bottom: 21px solid transparent;
	    border-top: 20px solid transparent;
	}
	
}
.faces{
	display: flex;
	flex-wrap:wrap;
	margin:0 -10px;
	.face{
		margin: 10px;
		position: relative;
	}
}
.divi-inner{
	position: absolute;
	top:0;
	left:0;
	width: 100%;
	height: 100%;
	text-align: center;
	line-height: 100%;
	background:red;
	opacity: 0.3;
	z-index: 100;
	display: none;
	a{
		i{
			font-size: 20px;
			padding-top: 35%;
		}
	}
}
.face:hover .divi-inner{
	display: block;
}
.div-gallery{
	padding-top:27px;
	height: 100%;
	border: 1px solid #989898;
}
.padd15{
	padding-left:15px;
}